@{
    ViewData["Title"] = "Product Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <h2 ><b>Projemiz : </b>DummyJSONRestAPI</h2>
    <h4><b>Vizyon : </b> DummyJSON sanal verileri ile istenilen rotaya uygun projeyi poluşturmak.</h4>
    <h4><b>Misyon : </b>Projemiz istenilen rotaya uygun bir şekilde tamamlanmıştır.</h4>
    <p>  Projemiz içerisinde Asp.Net 6 teknolojisi kullanılarak MVC mimarisine uygun bir şekilde istenilen bir siteden ürünlerin çekilip farklı türde isteklerin yapıldığı ve bu istekler sonucunda kullanıcılara geri dönüş yapıldığı bir RestAPI uygulamasıdır. </p>
    <h5><b>Projeyi Oluşturan : </b>Abdülsamet KAYMAK</h5>
    <a href="">
        <img src="https://e7.pngegg.com/pngimages/160/27/png-clipart-gray-telephone-logo-computer-icons-logo-telephone-miscellaneous-text.png" height="30" width="30" />
        +90 539 263 49 28
    </a>
    <br />
    <a href="">
        <img src="https://marka-logo.com/wp-content/uploads/2020/11/Gmail-Logo.png" height="30" width="40" />
        54samet28@gmail.com
    </a>
    <br />
    <a href="https://www.linkedin.com/in/samet-kaymak-363136246">
        <img src="https://w7.pngwing.com/pngs/402/997/png-transparent-linkedin-logo-computer-icons-facebook-user-profile-facebook-blue-angle-text.png" height="30" width="30" />
        Linkedin
    </a>
    <a href="https://www.kariyer.net/ozgecmis/sametkaymak30?o=c15o">
        <img src="https://play-lh.googleusercontent.com/MI2YpCjGMknlNYpKqqG6NhA8FpM-Mr5TF_wUdT3shHAPDVk5UiNX7vZpwNPF1D4cWLFo" height="30" width="30" />
        Kariyer.net
    </a>
    
   
   
</div>
